
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    height: 100vh;
    margin: 0;
  }
  
 
  .profile-image {
    width: 100%;
    height: 350px;
    animation-name: imageAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    margin-top: 0px;
    z-index: 0;
  }
  
  
  .welcome-box {
    position: absolute;
    transform: translate(-50%, -50%); 
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5a6a8d5;
    z-index: 1;
    margin-bottom: 475px;
    opacity: -1;
    animation-name: flyInAnimation;
    animation-duration: 0.01s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    

  }
  
.welcome-text {
    font-size: 24px;
    color: red;
    font-weight: 800; 
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center; 
  }
  
 
  @keyframes imageAnimation {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
 
  @keyframes flyInAnimation {
    from {
      transform: translate(-50%, -70%);
      opacity: 0;
    }
    to {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  