.service-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  
 
.description,
.additional-info {
  flex: 1;
  padding: 20px;
  text-align: center;
}


.interior-detailing-box .description h2,
.exterior-detailing-box .description h2,
.full-service-packages-box .description h2,
.additional-services-box .description h2 {
  font-size: 28px; 
  color: #333;
  font-weight: bold; 
  text-transform: uppercase; 
  margin-bottom: 15px; 
}


.additional-info h3 {
  font-size: 24px; 
  color: #333; 
  font-weight: bold; 
  margin-bottom: 15px; 
}


  .additional-info ul {
    list-style: none;
    padding: 0;
  }
  
  .additional-info li {
    margin-bottom: 5px;
    text-align: left;
    list-style-type: disc;
  }
  
  
  .description p,
  .additional-info ul li {
    font-size: 16px; 
  }
  

