.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/Image/content-image-2.png");
    background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
  font-weight: bold; 
  font-size: 18px; 
}

.registerInput {
  padding: 10px;
  background-color: #708090; 
  border: none;
  border-radius: 10px;
  width: 250px;
}

.registerInput:focus {
  outline: none;
}

.registerLoginButton {
  margin-top: 20px; 
  background-color: teal;
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 10px;
  display: block; 
  text-align: center;
  cursor: pointer;
}

.registerButton {
  background-color: #0077b6; 
  color: #eb1010; 
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; 
  text-decoration: none; 
  display: inline-block; 
  width: 100%; 
  text-align: center; 
}

.registerButton:hover {
  background-color: #005a9e; /* Change the background color on hover */
}




.welcome-box {
  margin-top: 410px; 
  padding: 10px;
  background-color: #00FA9A; 
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: right;
}
